// Use our own button styles as Foundation styles add a lot of bulk.

.button {
    @include button;

    // Sizes
    @each $size, $value in map-remove($button-sizes, default) {
      &.#{$size} {
        font-size: $value;
      }
    }

	&.expanded { 
		@include button-expand;
	}
}

// Colors
@each $name, $color in $button-palette {
	@if $button-fill != hollow {
	  &.#{$name} {
		@include button-style($color, auto, auto);
	  }
	}
	@else {
	  &.#{$name} {
		@include button-hollow-style($color);
	  }
	}
}
