/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/

.comments-area {
	margin: $global-margin 0;
}

.comments-number {
	margin: $global-margin * 2 0;
}

.comment-list {
	@include disable-mouse-outline;
	margin: 0;
}

.comment {
	list-style: none;
	margin-bottom: 2rem;

	// Nested comment wrapper
	.children {
		margin-top: 2rem;
	}
}

.comment-wrap {
	@include media-object-container;
}

.comment-avatar {
	@include media-object-section;
}

.comment-body {
	@include media-object-section;
	width: 100%;
}

.comment-header {
	font-size: $global-font-size;
}

.comment-author {
	display: inline;
	font-size: inherit;
	font-style: normal;

	&::before {
		content: none;
	}
}

// Badge for post author
.comment-post-author {
	background: $secondary-color;
	color: $white;
	font-size: $small-font-size;
	padding: rem-calc(3);
}

.comment-respond {
	input[type='text'],
	input[type='email'],
	input[type='url'],
	textarea {
		width: 100%;
	}

	input[type='submit'] {
		margin-bottom: 0;
	}
}

.form-allowed-tags {
	border: 1px solid $light-gray;
	padding: rem-calc(20);
}

.comments-closed {
	border-top: 1px solid $light-gray;
	font-weight: bold;
	margin: rem-calc(30 0 0);
	padding: rem-calc(20 0);
}
