/*--------------------------------------------------------------
## Site Content
--------------------------------------------------------------*/

.hentry + .hentry {
	margin-top: $global-margin * 2;
}

.entry-byline {
	margin-bottom: $global-margin;
}

.entry-date:not(.updated) {
	display: none;
}

.comments-link::before {
	content: '–';
	margin: 0 rem-calc(4);
}

.entry-content,
.entry-summary {
	@include clearfix;
}

// Remove bottom margin from last element in entry content
.entry-content {
	& :last-child {
		margin-bottom: 0;
	}
}

.entry-footer {
	margin-top: $global-margin;
}

.entry-terms {
	display: block;
}
