/*--------------------------------------------------------------
## Forms
--------------------------------------------------------------*/

// Set buttons and submit inputs to look like .button.
input[type='submit'] {
	@include button;
}

// Required * styling.
.required {
	color: $alert-color;
	font-weight: 700;
}
