/*--------------------------------------------------------------
## Gallery
--------------------------------------------------------------*/

.gallery {
	@include grid;
}

.gallery-item {
	margin-bottom: $global-margin;
	position: relative;
}

.gallery-columns-2 {
	@include grid-layout(2, $selector: '.gallery-item');
}

.gallery-columns-3 {
	@include grid-layout(3, $selector: '.gallery-item');
}

.gallery-columns-4 {
	@include grid-layout(4, $selector: '.gallery-item');
}

.gallery-columns-5 {
	@include grid-layout(5, $selector: '.gallery-item');
}

.gallery-columns-6 {
	@include grid-layout(6, $selector: '.gallery-item');
}

.gallery-columns-7 {
	@include grid-layout(7, $selector: '.gallery-item');
}

.gallery-columns-8 {
	@include grid-layout(8, $selector: '.gallery-item');
}

.gallery-columns-9 {
	@include grid-layout(9, $selector: '.gallery-item');
}

.gallery-columns-10 {
	@include grid-layout(10, $selector: '.gallery-item');
}

.gallery-caption {
	color: $dark-gray;
	font-size: $small-font-size;
	padding: $global-spacing-tiny 0;
	width: 100%;
}
