/*--------------------------------------------------------------
## Hero - http://codepen.io/webdevstudios/pen/RRrJLP
--------------------------------------------------------------*/

// Hero container.
.hero-area {
	overflow-y: hidden;
	position: relative;
	z-index: 1;

	// Transparent overlay (optional).
	&::after {
		background-color: rgba($black, 0.6);
		content: '';
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 2;
	}

	// Gradient overlay (optional).
	// &:after {
	// 	@include linear-gradient(to bottom, rgba($black, 0) 0%, rgba($black, 0.50) 50%);
	// 	@include position(absolute, 0 0 null null);
	// 	@include size(100% 100%);

	// 	content: '';
	// 	z-index: 2;
	// }
}

// Content container.
.hero-content {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	max-width: rem-calc(500); // width of content container
	min-height: rem-calc(500); // height of hero
	position: relative;
	text-align: center;
	z-index: 3;
}

// Set defaults.
.hero-title,
.hero-description,
.hero-button {
	color: $white;
}

// Add padding to description.
.hero-description {
	padding-bottom: rem-calc(24);
}

// Style button.
.hero-button {
	@include button;
}
