/*--------------------------------------------------------------
## Menu Toggle
--------------------------------------------------------------*/

.menu-toggle {
	@include breakpoint(large) {
		display: none;
	}
}

.menu-toggle-button {
	font-weight: bold;

	&:hover,
	&:focus {
		color: $primary-color;
	}
}

.icon-hamburger {
	height: rem-calc(32);
	width: rem-calc(32);
}

.bar {
	opacity: 1;
	transform: rotate(0);
	transform-origin: 1em 1em;
	transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
}

.line-1 {
	transform-origin: 1em 2.5em;
}

.line-3 {
	transform-origin: 1em 3.75em;
}

// Transform hamburger to cross when a menu is open
.is-off-canvas-open,
.is-menu-open {
	.line-1 {
		transform: rotate(45deg);
	}

	.line-2 {
		opacity: 0;
	}

	.line-3 {
		transform: rotate(-45deg);
	}
}
