/*--------------------------------------------------------------
## Navigation
--------------------------------------------------------------*/

.navigation-primary {
	@include breakpoint(medium down) {
		@include off-canvas-base;
		@include off-canvas-position(right);
		padding: $global-spacing-large;

		// Set link color for off canvas menu items
		a {
			color: $white;

			&:hover {
				color: $black;
			}
		}
	}
}

// Hide menu close button on large screens
.close-button {
	@include breakpoint(large) {
		display: none;
	}
}

// Hide submenu until JS has loaded.
// Prevents FOUC
.no-js {
	.submenu {
		display: none;
	}
}

// Archive Pagination
.pagination {
	@include clearfix;

	ul {
		@include pagination-container;
		text-align: center;
	}

	.current {
		@include pagination-item-current;
		display: inline-block;
	}
}

// Single post type navigation
.pager-container {
	margin-top: $global-margin;
}

.pager {
	list-style: none;
	margin: 0;

	@include breakpoint(medium) {
		display: flex;
		text-align: left;
	}
}

.pager-next {
	@include breakpoint(medium) {
		margin-#{$global-left}: auto;
		text-align: $global-right;
	}
}

.pager-item-title {
	display: block;
	font-weight: bold;
}

// Multiple page post link styles
.page-links {
	@include pagination-container;
	margin-bottom: $global-margin;

	> span {
		@include pagination-item-current;
		display: inline-block;
	}

	a {
		display: inline-block;
	}
}
