/*--------------------------------------------------------------
## Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 $global-margin;

	// Remove bottom margin from last widget in a sidebar
	&:last-of-type {
		margin-bottom: 0;
	}

	// Remove bottom margin from last item within a widget
	& > :last-child {
		margin-bottom: 0;
	}

	select {
		max-width: 100%;
	}
}

// Search widget.
.widget_search .search-submit {
	display: none;
}
