/*--------------------------------------------------------------
## Wrapper
--------------------------------------------------------------*/

.wrapper {
	max-width: $global-width;
	margin-left: auto;
	margin-right: auto;
	padding-left: $grid-gutter;
	padding-right: $grid-gutter;

	&--full {
		max-width: 100%;
	}
}
