/*--------------------------------------------------------------
## Accessibility
--------------------------------------------------------------*/

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px; // sass-lint:disable-line property-units
	overflow: hidden;
	position: absolute !important; // sass-lint:disable-line no-important
	width: 1px; // sass-lint:disable-line property-units
	word-wrap: normal !important; // sass-lint:disable-line no-important

	&:hover,
	&:active,
	&:focus {
		background-color: $secondary-color;
		clip: auto !important; // sass-lint:disable-line no-important
		color: $white;
		display: block;
		font-size: rem-calc(14);
		font-weight: 700;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: $global-padding;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; // Above WP toolbar
	}
}

// Outline style on link focus
a:focus {
	outline: thin dotted;
}
