/*--------------------------------------------------------------
## Alignments
--------------------------------------------------------------*/

.alignleft {
	display: block;
	margin-bottom: $global-margin;

	@include breakpoint(480px) {
		display: inline;
		float: left;
		margin-right: $global-margin;
	}
}

.alignright {
	display: block;
	margin-bottom: $global-margin;

	@include breakpoint(480px) {
		display: inline;
		float: right;
		margin-left: $global-margin;
	}
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto $global-margin;
}

.alignnone {
	margin-bottom: $global-margin;
}
