/*--------------------------------------------------------------
## Media
--------------------------------------------------------------*/

audio,
canvas {
	display: inline-block;
}

figure,
picture,
img,
video {
	display: block;
	height: auto;
	margin: 0;
	max-width: 100%;
}

// Make sure embeds and iframes fit their containers
embed,
iframe,
object,
video {
	margin-bottom: $global-margin;
	max-width: 100%;
	vertical-align: middle;

	p > & {
		margin-bottom: 0;
	}
}

.mejs-container {
	margin-bottom: $global-margin;
}

// Remove styling from smileys
.page-content,
.entry-content,
.comment-content {
	& .wp-smiley {
		border: none;
		margin: 0;
		padding: 0;
	}
}

// WordPress Captions
.wp-caption {
	max-width: 100%;
	position: relative;

	img[class*='wp-image-'] {
		display: block;
		margin: 0 auto;
	}

	.wp-caption-text {
		font-size: $small-font-size;
		font-style: italic;
		line-height: 1.3;
		padding: rem-calc(10 5);
	}
}
