/*--------------------------------------------------------------
## Typography
--------------------------------------------------------------*/

dd {
	margin-bottom: $global-margin;
}

pre {
	background: $light-gray;
	font-family: $code-font-family;
	font-weight: $code-font-weight;
	margin-bottom: $global-margin;
	max-width: 100%;
	overflow: auto;
	padding: $global-padding;
}

// Word Wrapping
body,
button,
input,
select,
textarea {
	word-wrap: break-word;
}

address {
	margin-bottom: $global-margin;
}
