/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/

.site-footer {
	margin-top: $global-margin;
	padding: $global-padding 0;

	// remove top margin if subsidiary sidebar is active
	.sidebar-subsidiary + & {
		margin-top: 0;
	}

	.site-info {
		@include grid-col;
		text-align: center;
	}

	.credit {
		font-size: $small-font-size;
	}
}
