/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/

.site-header {
	padding: $global-padding 0;

	&-wrap {
		@include grid;
		justify-content: space-between;
		align-items: center;
	}
}

.site-branding {
	flex: 0 0 auto;
}

// Site Title
.site-title {
	font-size: rem-calc(24);
	margin-bottom: 0;
	padding: $global-padding 0;
}

// Site Description
.site-description {
	font-size: rem-calc(20);
	margin: 0 0 $global-margin 0;
}
