/*--------------------------------------------------------------
## Sidebars
--------------------------------------------------------------*/

.sidebar-subsidiary {
	margin-top: $global-margin;
	padding: $global-padding 0;

	&-wrap {
		@include grid;
	}

	.widget {
		@include breakpoint(medium) {
			flex: 1 1 0px;
		}
	}
}
